/*---------------GENERAL STYLES---------------*/
@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

/*---------------HEADER STYLES---------------*/
header {
	height: 70px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	font-size: 14px;
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

header h1 {
	text-align: center;
}

header h1 span {
	color: #77a466;
}

header nav {
	text-align: center;
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 10px;
	list-style-type: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*---------------TOP SECTION STYLES---------------*/
.top-section{
	margin: 275px auto 0px auto;
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main-image {
	height: auto;
	padding: 0 0;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top:3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

/*---------------BOTTOM SECTION STYLES---------------*/
.bottom-section{
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.section-one h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
}


/*---------------FOOTER STYLES---------------*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	/*flexbox properties*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
}

/*-------------------------------------------*/
/*---------------TABLET STYLES---------------*/
@media (min-width: 768px){
	/*---------------BASE STYLES---------------*/
	.container{
		padding: 30px;
	}

	/*---------------HEADER STYLES---------------*/
	header nav {
	    width: 100%;
	}

	/*---------------BOTTOM-SECTION STYLES---------------*/
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-two h4,
	.section-three h4,
	.section-two p,
	.section-three p
	{
		padding: 10px 10px;
	}

}

/*--------------------------------------------*/
/*---------------DESKTOP STYLES---------------*/
@media (min-width: 1200px){
/*---------------BASE STYLES---------------*/
.container{
	padding: 0;
}

h1 {
	font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}


/*---------------HEADER STYLES---------------*/
header nav ul li {
	font-size: 14px;
}

header h1 {
	margin: 0;
	padding: 38px 0;
}

header {
	height: 110px;
	justify-content: space-between;
}

header nav {
	padding: 46px 0;
	width:auto;
}

header nav ul li {
	display: inline;
	padding: 0 10px;
}

/*---------------TOP SECTION STYLES---------------*/
.top-section,
.bottom-section {
	margin: 0 auto;
}

.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.main-title {
	height: auto;
}

/*---------------BOTTOM SECTION STYLES---------------*/
.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
}

.reviews {
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}


/*---------------FOOTER STYLES---------------*/
footer span {
	font-size: 14px;
}

}
